$color-primary: #6AAAFF;
$color-primary-dark: #5B8ED1;
$color-secondary: #707070;
$title-font: 30px;
$lg-font: 20px;
$md-font: 18px;
$sm-font: 14px;


.App {
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    "header"
    "content"
    "footer"
}

header {
  display: flex;
  background-color: $color-primary;
  color: white;
  height: 60px;
  padding-left: 20px;
  align-items: center;
  border-bottom: 2px solid $color-primary-dark;
  h1{
    font-size: $lg-font;
  }
}

main{
  grid-area: "content";
}

.podcast-description {
  padding: 0 15px 15px 15px;
  box-sizing: content-box;
  border-bottom: 2px solid $color-primary;
  .social-media-btn-container{
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: space-between;
    .social-media-button{
      width: 180px;
      height: 30px;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      color: $color-secondary;
      border: 2px solid $color-secondary;
      border-radius: 15px;
    }
    .social-media-button:hover, .social-media-button:focus{
      background-color: $color-primary;
      color: white;
      outline: none;
    }
  }
}

.section-episodes{
  padding: 0 15px 15px 15px;
  .section-title{
    font-size: $lg-font;
    font-weight: 600;
    margin: 10px 0;
  }
  .section-episodes-container{
    padding: 0;
    border: 1px  $color-secondary;
    border-style: solid none solid none;
    .single-episode{
      margin-bottom: 20px;
      border-bottom: 1px solid $color-secondary;
      .episode-title-line{
        display: grid;
        grid-template-columns: auto 50px;
        grid-template-rows: 30px 30px;
        align-items: baseline;
        .episode-title{
          margin: 0;
          padding-right: 5px;
          font-size: $md-font;
          font-weight: normal;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .episode-runtime{
          margin: 0;
          text-align: right;
        }
        .episode-date{
          margin: 0;
          align-self: flex-start;
        }
      }
    }
  }
}


.footer-play-bar{
  grid-area: 'footer';
  background: $color-primary;
  border-top: $color-primary-dark 2px solid;
  padding: 0 25px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .play-button{
    box-sizing: border-box;
    font-size: 0;
    padding: 0;
    width: 0;
    height: 24px;
    transition: 100ms all ease;
    background-color: transparent;
    &.play{
      border-style: solid;
      border-width: 12px 0 12px 24px;
      border-color: transparent transparent transparent white;
      transform: translateX(8px);
    }
    &.pause{
      border-width: 0 0 0 12px;
      border-color: white;
      border-style: double;
    }
  }
}
